html{
    box-sizing: border-box;
    
    /* background-color: red; */
    background-image: linear-gradient(to bottom, rgb(160, 26, 26), black);
}
body{
    color:white;
    font-family: Arial;
}
.container{
    margin-right: -10px;
    margin-left: -10px;
    margin-top: -10px;
    height: 70px;
    position: sticky;
    top: 0;

    background-color: black;
}
.header{
    display: flex;
}
.header-title{
    display: block;
    text-align: left;
    margin-left: 30px;
    margin-right: 50px;
    margin-top: -10px;
    height: 50px;
}

.nav-list{
    display: flex;
    position: relative;
    margin: 15px;
    padding: 0px;
    height: 44px;
    border-radius: 5px;

    /* background-color: gray; */
}
.nav-list-items{
    list-style: none;
}
.nav-list-items-link{
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 1000;
}
.nav-list-items:hover {
    background-color:  white;
}
.nav-list-items:hover .nav-list-items-link {
    color: gray;
    color: black;
}
.nav-list-items:hover .nav-sublist{
    display: block;
}
.nav-sublist{
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;

    background-color: gray;
}

.sub-intro{
    display: flex;
    margin-right: -10px;
    margin-left: -20px;
    align-items: center;
    /* justify-content: center; */
    /* background-color:  gray; */
}
.subpic{
    display: block;
    width: 100%;
    text-align: left;
    /* margin-right: 20px; */
    margin-left: -20px;


}
.sub-text{
    display: block;
    margin-left: 5%;
    margin-top: 160px;
    width: 270px;
    height: 300px;
   
    /* background-color: lightgray; */
}
.subtext{
    display: block;
    width: 140%;
    text-align: center;
    /* color: black; */
    font-size: 40px;
    /* margin: 30px 5px 30px 5px; */
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    font-weight: 1000;
}
.main-intro{
    display: flex;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 150px;
    align-items: center;
    justify-content: center;
   
    /* background-color:  gray; */
}
.main-pic{
    display: block;

    /* background-color:  darkgray; */
}
.author-pic{
    display: block;
    width: 300px;
    height: 300px;
    margin-right: 30px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;

    /* background-color: lightgray; */
}
.picture{
    display: block;
    width: 350px;
    height: 350px;
    align-items: center;
    justify-content: center;
}
.author-pic-text{
    display: block;
    width: 300px;
    height: 65px;
    text-align: center;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 24px;
    border-radius: 10px;
   
}
.pochita-pic{
    display: block;
    width: 250px;
    height: 250px;
    margin-left: 25px;
    margin-top: 30px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;

    /* background-color: lightgray; */
}
.pochita-gif{
    background-size: cover;
    width: 250px;
    height: 225px;
    border-radius: 30px;
}
.main-text{
    display: block;
    width: 700px;
    height: 530px;
    margin-left: 30px;
    /* margin-right: 30px; */
    margin-bottom: 30px;
    border-radius: 30px;

}
.text{
    display: block;
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin: 30px 0 30px 15px;
    padding-top: 15px;
    padding-bottom: 20px;
}
.makima{
    display: flex;
    height: 700px;
    margin-top: 500px;
    /* margin-right: 50px; */
    /* width: 400px; */

    /* background-color: gray; */
}
.footer{
    height: 30px;
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: -10px;
    padding-top: 5px;
    padding-bottom: 30px;
    
    background-color: black;
}
.footer-text{
    display: flex;
    justify-content: center;
    align-items: center;
}