html{
    box-sizing: border-box;
    
    background-color: black;
    /* background-image: linear-gradient(to bottom, black, red); */
}
body{
    color:white;
    font-family: Arial;
}
.container{
    margin-right: -10px;
    margin-left: -10px;
    margin-top: -10px;
    height: 70px;
    position: sticky;
    top: 0;

    background-color: rgb(197, 53, 53);
}
.header{
    display: flex;
}
.header-title{
    display: block;
    text-align: left;
    margin-left: 30px;
    margin-right: 50px;
    margin-top: -10px;
    height: 50px;
}
.nav-list{
    display: flex;
    position: relative;
    margin: 15px;
    padding: 0px;
    height: 44px;
    border-radius: 5px;

    /* background-color: gray; */
}
.nav-list-items{
    list-style: none;
}
.nav-list-items-link{
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 1000;
}
.nav-list-items:hover {
    background-color:  white;
}
.nav-list-items:hover .nav-list-items-link {
    color: gray;
    color: black;
}
.nav-list-items:hover .nav-sublist{
    display: block;
}
.nav-sublist{
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;

    background-color: gray;
}
.nav-list-2{
    display: block;
    width: 250px;
    margin-right: 50px;
    margin-left: 50px;

    /* background-color: gray; */
}
.nav-button-bar-2{
    display: block;
    margin-bottom: 100px;
    margin-top: 100px;

    /* background-color: lightgray; */
}
.nav-button-display-2{
    display: block;
}
.nav-button-display-2 .textborder{
   
    display: block;
    text-decoration: none;
    width: 150px;
    height: 100px;
    margin-top: 100px;
    color: white;
    text-align: center;
    /* background-color: darkgray; */
}
.textborder{
    display: block;
    font-size: 10px;
    font-weight:700;
}
.jump-icon{
    display: block;
    margin-left: 20%;
    margin-top: 10px;
    margin-bottom: 15px;
}
.bookshop-icon{
    display: block;
    margin-left: 20%;
    margin-top: 5px;
    margin-bottom: 15px;
}
.netflix-icon{
    display: block;
    /* width: 50px;
    height: 90px; */
    margin-left: 33%;
    margin-top: 5px;
    margin-bottom: 10px;
}
.intro-1{
    display: flex;
    margin-top: 10px;
    margin-bottom: 150px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;

}
.chainsaw-pic{
    display: block;
    /* width: 700px; */
    height: 700px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    
    /* background-color: lightgray; */
}
.chainsaw-intro{
    display: block;
    margin-left: 30px;
    width: 500px;
    height: 500px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;

    /* background-color: lightgray; */
}
.chainsaw-pic:hover{
   opacity: 0%;
}
video{
    position: absolute;
    padding-right: 178px;
    width: 24.6%;
    z-index: -1;
}
.name{
    display: block;
    margin-top: -80px;
    font-size: 50px;
    font-family: fantasy;
    letter-spacing: 5px;
    margin-left: 15px;
}
.text{
    display: block;
    color: white;
    font-weight:500;
    font-size: 30px;
    margin: 30px 0 30px 15px;
    padding-top: 15px;
    padding-bottom: 20px;
    line-height: 1.5;
}
.intro-2{
    display: flex;
    margin-top: 50px;
    margin-bottom: 150px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
   
    /* background-color: gray; */
}
.firepunch-pic{
    display: block;
    /* width: 700px; */
    height: 700px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    
    /* background-color: lightgray; */
}
.firepunch-pic:hover{
    opacity: 0%;
 }
.video2{
    position: absolute;
    padding-left:18.8% ;
    width: 25.5%;
    z-index: -1;
}
.firepunch-intro{
    display: block;
    margin-right: 30px;
    width: 500px;
    height: 500px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;

    /* background-color: lightgray; */
}
.others-title{
    display: block;
    justify-content: center;
    align-items: center;

    /* background-color: darkgray; */
}
.others-title-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.horizontal-line{
    margin-right: auto;
    margin-left: auto;
    width: 1080px;
    height: 1px;
    justify-content: center;
    border-top:  solid white 3px;
}
.others-pic-top{
    display: flex;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;

}
.others-pic-bottom{
    display: flex;
    margin-top: -50px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;

    justify-content: center;
    

}
.others-pic{
    display: block;
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 5px;
    margin-left: 30px;
    margin-right: 30PX;

}

.others-text{
    display: block;
    width: 110px;
    height: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    
    /* background-color: lightgray; */
}
.others-text-li{
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
    color: white;
    width: 110px;
    /* background-color: aqua; */
    text-align: center;

}
.power{
    margin-right: -390px;
    margin-bottom:-50px ;
    width: 400px;
}
.others{    
    display: block;
    height: 200px;
    border-radius: 10px;
    /* margin-left: 35px; */
    transition: background .2s linear, border-radius .5s ease-in;
}
.others:hover{
    border-radius: 50px;
}

.footer{
    height: 30px;
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: -10px;
    padding-top: 5px;
    padding-bottom: 30px;
    
    background-color: rgb(197, 53, 53);
}
.footer-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
